.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 700px;
    gap: 50px;
}
.work-title{
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}
.work-div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 30px 100px;
    border-radius: 20px;
}

.p1{
    color: white;
    font-size: 2.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p1 span{
    font-size: 2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2{
    color: white;
    font-size: 2.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2 span{
    font-size: 2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3{
    color: white;
    font-size: 2.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3 span{
    font-size: 2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.work-desc{
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: gray;
    /* margin-top: 50px; */
}

.top-btn-3{
    color: rgba(255, 255, 255, 0.658);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    border: 1px solid gray;
}
.top-btn-3:hover{
    transform: scale(1.05);
}