.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 700px;
    gap: 50px;
}
.work-title{
    font-size: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}
.work-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(173, 173, 173, 0.205);
    padding: 30px 100px;
    border-radius: 20px;
}

.p1{
    color: white;
    font-size: 2.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p1 span{
    font-size: 2.5rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2{
    color: white;
    font-size: 2.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2 span{
    font-size: 2.5rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3{
    color: white;
    font-size: 2.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3 span{
    font-size: 2.5rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.work-desc{
    font-size: 2.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: gray;
    /* margin-top: 50px; */
}