.main-create{
    /* padding: 30px; */
    min-height: 100vh;   /* 🔥 IMPORTANT */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.div-create{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    gap: 120px;
}

.div-create-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: rgba(213, 213, 213, 0.074);
    border: 1px solid gray;
}

.create-p1{
    text-align: center;
    color: gray;
    font-size: 2.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.create-button{
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 10px 30px;
    border-radius: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    border: 2px solid gray;
    cursor: pointer;
    transition: all 0.3s ease;
}
.create-button span{
    margin-left: 50px;
}

.create-button:hover{
    transform: scale(1.05);
}

.theme-p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.themes-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.theme{
    background-color: rgba(0, 0, 0, 0.46);
    color: white;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.3s ease;
}
.theme:hover{
    transform: scale(1.05);
}

.shape-p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.shape-div-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.shape{
    background-color: rgba(0, 0, 0, 0.46);
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.3s ease;
}
.shape:hover{
    transform: scale(1.05);
}

.dot-color-p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dot-color-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.color{
    background-color: rgba(0, 0, 0, 0.46);
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.3s ease;
}
.color:hover{
    transform: scale(1.05);
}

.res-p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.res-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.res{
    background-color: rgba(0, 0, 0, 0.46);
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid gray;
    transition: all 0.3s ease;
}
.res:hover{
    transform: scale(1.05);
}



.create-btn{
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 2px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid gray;
}
.create-btn:hover{
    transform: scale(1.05);
}

.spacer{
    width: 90%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8a2be2, #00ffff, transparent);
    filter: drop-shadow(0 0 8px #8a2be2);
}
.spacer-2{
    width: 90%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fafafa, #ffffff, transparent);
    filter: drop-shadow(0 0 8px #8a2be2);
    justify-self: center;
    margin-top: 200px;
}

.active{
    background-color: rgba(0, 0, 0, 0.078);
}
.input-date{
    background-color: rgba(255, 255, 255, 0.322);
    color: black;
    border: 1px solid black;
    user-select: none;
}

.dots-preview {
  background: black;
  border-radius: 18px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  transform-origin: center;
  overflow: hidden;

  transition: width 0.35s ease, height 0.35s ease;
}
