@import "tailwindcss";

html, body{
  background-image: linear-gradient(45deg,rgb(60, 7, 36) , rgb(0, 0, 0), rgb(11, 11, 80));
  user-select: none;
  height: 100%;
  padding-top: 40px;
}

@theme {
  --color-bg: #0b0b0b;
  /* --color-past: #eaeaea; */
  --color-past: white;
  --color-future: #2a2a2a;
  --color-current: #ff4d4d;
}

/* hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.life-scroll {
  scroll-behavior: smooth;
}



.hide{
  display: none;
}