@import "tailwindcss";

html, body{
  /* background-image: linear-gradient(45deg,rgb(60, 7, 36) , rgb(0, 0, 0), rgb(11, 11, 80)); */
  background-color: rgba(0, 0, 0, 0.808);
  user-select: none;
  padding-top: 40px;
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

@theme {
  --color-bg: #0b0b0b;
  --color-w: rgba(255, 255, 255, 0.395);
  --color-past: white;
  --color-future: #2a2a2a;
  /* --color-current: #ff4d4d; */
  --color-current: #FF4D4D;


  --color-10: #60A5FA;
  --color-20: #4ADE80;
  --color-30: #22D3EE;
  --color-40: #F59E0B;
  --color-50: #FB7185;
  --color-60: #34D399;
  --color-70: #A78BFA;
  --color-80: #94A3B8;
}

/* hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.life-scroll {
  scroll-behavior: smooth;
}



.hide{
  display: none;
}

.weeks-nums{
  font-size:6px;
  margin-bottom: 5px;
}  

.weels-label{
  color: gray;
  font-size: 1rem;
  margin-bottom: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  width: 100%;
  text-align: center;
}

.dots-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year-nums{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input{
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  border: 1px solid rgba(179, 179, 179, 0.329);
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  width: 250px;
}
.input::placeholder{
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.rows-dots{
  transition: all 0.2s ease-in-out;
  image-rendering: pixelated;
}

.main-top{
  border: 1px solid gray;
}