/* Large screens (default) */
/* > 1024px — desktop / laptop */

/* Tablets & small laptops */
@media (max-width: 1024px) {
}

/* Mobile (most phones) */
@media (max-width: 768px) {
    .home-div{
    padding: 0px 30px;
    background-color: rgba(0, 0, 0, 0.629);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    }
    .home-div-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
    }

    .portfolioImg{
    width: 30px;
    transition: all 0.4s ease;
    }
    .lifein1-p{
    font-size: 1rem;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.4s ease;
    }

    .top-btn{
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    border: 1px solid gray;
    }
    .home-div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
    .heading-p{
    color: antiquewhite;
    font-size: 1.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: italic;
    margin-top: 20px;
    }
    .content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
    }
    .content-desc-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    }
.content-desc-1{
color: rgb(255, 255, 255);
font-size: 1.2rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.content-desc-2{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.content-desc-2 span{
    color: rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgba(98, 102, 36, 0.575);
    padding: 1px 10px;
}
.content-desc-3{
    color: rgba(255, 255, 255, 0.719);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 2rem;
    margin-top: 20px;
}
.content-desc-4{
    color: rgba(255, 255, 255, 0.718);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 1rem;
    margin-top:5px;
}
.content-desc-4 span{
    font-size: 1rem;
}
.content-desc-5{
    color: rgba(255, 255, 255, 0.726);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 1.5rem;
    margin-top:5px;
}
.top-btn-2{
    color: rgba(255, 255, 255, 0.658);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    width: fit-content;
    margin-top: 50px;
    border: 1px solid gray;
}


/* worksection */

.spacer-2{
    display: none;
}

.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    height: auto;
    gap: 50px;
}

.work-title{
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}

.work-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 173, 173, 0.205);
    padding: 30px 10px;
    border-radius: 20px;
}


/* worksection  */
.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: auto;
    gap: 50px;
}


.work-title{
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}
.work-div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 30px 10px;
    border-radius: 20px;
}

.p1{
    color: white;
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p1 span{
    font-size: 1.2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2{
    color: white;
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p2 span{
    font-size: 1.2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3{
    color: white;
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.p3 span{
    font-size: 1.2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.work-desc{
    font-size: 1.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: gray;
    /* margin-top: 50px; */
}
.top-btn-3{
    color: rgba(255, 255, 255, 0.658);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    border: 1px solid gray;
    margin-bottom: 150px;
}



}

/* Small phones */
@media (max-width: 480px) {
}

/* Ultra-small phones (optional) */
@media (max-width: 360px) {
}